/*Style Reset*/

html{
    font-size: 87.5%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*Proper Styles*/

.header{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15% 20% 20% auto;
    height: 7.14rem;
    align-items: center;
    justify-items: center;
    position: absolute;
    color: #000;

}


.brand {
    display: flex;
}

.brand > img{
    align-self: center;
    margin-right: 10px;
}
.brand div p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.714rem
}

.brand div p:nth-of-type(2){
    font-weight: 300;
    font-size: .857rem;
    margin-top: -.71rem
}

.call{
    font-weight: 600;

}

ul{
    list-style: none;
}
.links > ul {
    display: flex;
    font-size: 1.428rem;
}

.links li{
    margin-left: 2rem;
}
.hamburger{
    justify-self: end;
    font-size: 1.5rem;

}


.foot{
    position: absolute;
    top: 100vh;
    transform: translateY(-100%);
    color: #000;
}

.landing{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    align-items: center;
    background-image: url('images/bg1.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: none;
}

.summary{
    justify-self: center;
    transform: rotateZ(-90deg);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.landing > div:nth-of-type(2){
    grid-column: span 3;
}

.top-text{
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.714;
    margin-bottom: 2.8rem ;
}

.landing > div:nth-of-type(2) h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5.14rem;
    line-height: 1;
    letter-spacing: -0.05rem;
}

.highlight{
    color: #cee002;
}

.hr{
    height: .2858rem;
    background-color: #cee002;
    width: 7.142rem;
    margin-top: 13vh;
}



.section-2{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    align-items: center;
    display: none;
}


.container {
    grid-column: span 5;
    display: flex;
    gap: 10vw;
}

.container > div:nth-of-type(1) h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.571rem;
    margin-bottom: 5rem;

}

.service-list{
    font-size: 1.2857rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2.1428;
    color: #666666;
}


.service-list >li{
    margin-bottom: 0.7rem;
}

.layout-1 {
    position: relative;
}

.layout-1 > p {
    font-size: 1.57rem;
    position: absolute;
    bottom: 0;
    display: flex;
    left: 10%;
    font-weight: 600;

}

.layout-1 > p > span:nth-of-type(1){
    font-size: 10.71rem;
    display: inline-block;
    margin-right: 1.7rem;
}

.layout-1 > p > span:nth-of-type(2){
    display: inline-block;
    align-self: center;
    text-transform: uppercase;
}

.dots{
    background-image: url(images/dots.png);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: -25%;
    z-index: -1;
}







.projects{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: 100px auto;
    align-content: center;
}

.testimonial{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: 100px auto;
    align-content: center;
    display: none;
}

.contact{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: 100px auto;
    align-content: center;
    display: none;
}